* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
  }

/* .canvas {
    width: 100%;
    height: auto;
    max-width: none
} */

canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

.details {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
  
 .container {
    position: fixed;
    z-index: 2;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ball-text {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.social-icons a i{
    font-size: 40px;
    color: #1f4087;
}

/* @media (max-width: 600px) {
    .canvas {
        width: 100%;  
        height: auto;  
        max-width: none; 
    }
} */

@media screen and (max-width: 1024px) {
    .container {
        position: fixed;
        z-index: 2;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ball-text {
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .social-icons a i{
        font-size: 32px;
        color: #1f4087;
    }
  }